module-02-kestra-orchestration/homework_solutions/flow.yaml
id: 08_azure_taxi_pipeline
namespace: zoomcamp

inputs:
  - id: taxi
    type: SELECT
    displayName: Select taxi type
    values: [yellow, green]
    defaults: yellow

  - id: year
    type: SELECT
    displayName: Select year
    values: ["2019", "2020", "2021"]
    defaults: "2019"
    allowCustomValue: true

  - id: month
    type: SELECT
    displayName: Select month
    values: ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"]
    defaults: "01"

variables:
  file: "{{inputs.taxi}}_tripdata_{{inputs.year}}-{{inputs.month}}.csv"
  azure_blob_name: "raw/{{inputs.taxi}}/{{inputs.year}}/{{inputs.month}}/{{vars.file}}"

tasks:
  - id: set_label
    type: io.kestra.plugin.core.execution.Labels
    labels:
      file: "{{render(vars.file)}}"
      taxi: "{{inputs.taxi}}"

  - id: extract
    type: io.kestra.plugin.scripts.shell.Commands
    outputFiles:
      - "*.csv"
    taskRunner:
      type: io.kestra.plugin.core.runner.Process
    commands:
      - wget -qO- https://github.com/DataTalksClub/nyc-tlc-data/releases/download/{{inputs.taxi}}/{{render(vars.file)}}.gz | gunzip > {{render(vars.file)}}
      - ls -lh {{render(vars.file)}}

  - id: upload_to_azure
    type: io.kestra.plugin.azure.storage.blob.Upload
    endpoint: "https://{{ kv('AZURE_STORAGE_ACCOUNT') }}.blob.core.windows.net"
    connectionString: "{{ kv('AZURE_CONNECTION_STRING') }}"
    container: "{{ kv('AZURE_CONTAINER_NAME') }}"
    from: "{{ outputs.extract.outputFiles[render(vars.file)] }}"
    name: "{{ render(vars.azure_blob_name) }}"

  - id: log_completion
    type: io.kestra.plugin.core.log.Log
    message: "تم بنجاح رفع ملف {{ vars.file }} إلى Azure Storage Account في المسار {{ vars.azure_blob_name }} 🚀"

  - id: purge_files
    type: io.kestra.plugin.core.storage.PurgeCurrentExecutionFiles

triggers:
  - id: green_schedule
    type: io.kestra.plugin.core.trigger.Schedule
    cron: "0 9 1 * *"
    inputs:
      taxi: green

  - id: yellow_schedule
    type: io.kestra.plugin.core.trigger.Schedule
    cron: "0 9 1 * *"
    inputs:
      taxi: yellow